<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>PlantUsher</title>
        <link rel="icon" href="../static/logo.png" type="image/x-icon">
        <link href="../static/style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/accueil.css">
    </head>

    <body>
        <div class="header">
            <div class="header_left">
                <a href="/">
                    <img class="logo" src="../static/logo.png" alt="">
                </a>
            </div>
            <div class="header_right">
                <a class="button login" href="/login">Se connecter</a> <br>
                <a class="button signup" href="/nouveaucompte">S'inscrire</a>
            </div>
        </div>
        <div class="main">
            <div class="accueil">
                <h1 class="title">PlantUsher</h1>
                <div class="description_app">
                    <!-- description appli ... -->
                    <p>
                        Bienvenue sur PlantUsher, le site qui va vous permettre d'obtenir la meilleure configuration pour votre potager. <br> Connectez-vous ou inscrivez-vous puis renseignez le nombre de fruits ou de legumes dont vous disposez. Vous pourrez ensuite renseigner les plantes que vous avez ainsi que le nombre de pieds. Notre algorithme va vous proposer la meilleure configuration possible en prenant en compte les associations entre plantes.
                    </p>
                </div>
                <div>
                    <img class="plan" src="../static/seeding.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="right_footer">
                <img class="logo" src="../static/logo_tn.jpg" alt="">
            </div>
            <div class="left_footer">
                <p>pvcc-grp_24</p>
            </div>
        </div>
    </body>
</html>